.app-arabic-lang {
  .app-form {
    .form-label {
      text-align: right;
    }
  }
  .dln-datepicker:before {
    left: 22px;
    right: auto;
  }
  //change directions of bootstrap classes
  .float-left {
    float: right !important;
  }
  .float-right {
    float: left !important;
  }
  .text-left {
    text-align: right !important;
  }
  .pr-0 {
    padding-left: 0px !important;
    padding-right: 15px !important;
  }
  .pl-0 {
    padding-right: 0px !important;
    padding-left: 15px !important;
  }
  .pl-1 {
    padding-right: 0.25rem !important;
    padding-left: 0 !important;
  }
  .modal-header .close {
    margin: -0.7rem 0rem !important;
  }
  .app-logo {
    margin-left: 0rem;
    padding-left: 0rem;
  }

  .form-check-label {
    margin-right: 15px;
  }
  .modal-header {
    .close {
      margin: -1rem auto -1rem -1rem;
    }
  }
  .app-single-prop {
    .app-approved-label {
      top: 10px;
      left: -19px;
      right: unset;
      -webkit-transform: rotate(45deg);
      transform: rotate(-45deg);
    }
  }
  .app-back-link {
    svg {
      transform: rotateY(180deg);
    }
  }
  .app-profile-dd {
    .dropdown-menu.show {
      margin-left: -80px !important;
      text-align: right;
    }
  }
  .app-footer-info {
    &.text-right {
      text-align: left !important;
    }
  }
  @media (max-width: 992px) {
    .app-menu .app-logo {
      margin: 0 auto;
    }

    .app-menu .app-mobile-menu {
      position: absolute;
      left: 15px;
      right: auto !important;
    }
    .app-user-img {
      right: 0px;
      left: auto;
    }
    .app-profile-dd {
      .dropdown-menu.show {
        margin-left: -160px !important;
        text-align: right;
      }
    }
    .app-proposal-right-side {
      .col:first-of-type {
        padding-left: 15px;
      }
    }
  }
}
